<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--CouponRateConfig by Lee 20160329-->
    <section name="CouponRateConfig" type="I.Utility.Helper.ConfigHelper,I.Utility"/>
    <section name="PrepaidAmountConfig" type="I.Utility.Helper.ConfigHelper,I.Utility"/>
  </configSections>
  <connectionStrings>
    <!--<add name="E2JOINDB" connectionString="metadata=res://*/E2JOINDB.csdl|res://*/E2JOINDB.ssdl|res://*/E2JOINDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=123.56.226.233;initial catalog=E2JOIN;persist security info=True;user id=E2JOIN;password=E2JOIN;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-HONGLI.Web-20160108105428.mdf;Initial Catalog=aspnet-HONGLI.Web-20160108105428;Integrated Security=True"
      providerName="System.Data.SqlClient" />-->
  		<add name="E2JOINDB" 
			connectionString="metadata=res://*/E2JOINDB.csdl|res://*/E2JOINDB.ssdl|res://*/E2JOINDB.msl;
				provider=System.Data.SqlClient;
				provider connection string=&quot;
				data source=rdsywi1w9u3k31von0mwo.sqlserver.rds.aliyuncs.com,3433;
				initial catalog=product_turpeer_yidao;
				persist security info=True;
				user id=p_yidao_manager;
				password=db_ghj7OYT3;
				MultipleActiveResultSets=True;
				App=EntityFramework&quot;" 
			providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>


    <!-- 全局 CookieDomain，注意和 hongli.global.data.js 保持一致 -->
    <add key="CookieDomain" value=""/>
    
    <add key="userCookieName" value="yidao.hongli.user"/>
    <add key="loginUrl" value="~/user/login?returnUrl={0}&amp;mobile={1}&amp;channel={2}"/>


    <!-- ========================== Log日志开始 =================================== -->

    <add key="LogEnable" value="1"/>
    <add key="LogPath" value="D:\WorkSpace\Microsoft\WEBFORM\yidao.hongli.me\Insurance\Insurance\HONGLI.Web\Log"/>

    <!-- ========================== Log日志截止 ============================ -->


    <!-- ========================== 发送短信开始 ============================ -->

    <add key="SMS_Account" value="8a48b5515124598801513356aabe2db3"/>
    <add key="SMS_AccountPassword" value="741d91f574bb4db0a2941bd2180526bd"/>
    <add key="SMS_SiteUrl" value="app.cloopen.com"/>
    <add key="SMS_SitePort" value="8883"/>
    <add key="SMS_AppID" value="aaf98f89516bf50b0151702ca48208fd"/>
    <add key="SMS_RegisteTemplateID" value="78335"/>
    <add key="SMS_RedPacketTemplateID" value="78335"/>
    <add key="SMS_UserInvitationTemplateID" value="86669"/>
    <add key="SMS_UserRemindTemplateID" value="86670"/>


    <!-- ========================== 发送短信截止 ============================ -->

    <!-- ========================== 91bihu Apis 开始 ============================ -->
    <add key="PostOrderApiUrl" value="http://i.91bihu.com/api/Order/PostOrder"/>
    <add key="PostOrderStatusApiUrl" value="http://i.91bihu.com/api/order/update"/>

    <!-- ========================== 91bihu Apis 截至 ============================ -->

    <!-- ========================== 自提地址开始 ============================ -->
    <add key ="DeliverPickupAddress" value="北京市海淀区中关村海龙大厦"/>

    <!-- ========================== 自提地址截至 ============================ -->

    <!-- ========================== 图片上传开始 ============================ -->
    <add key ="ImagesUpload" value="/Upload"/>
    <add key ="IdCardUpload" value="/IdCard"/>
    <add key ="MaxFileSize" value="209715200"/>
    <!-- ========================== 图片上传截止 ============================ -->


    <!--Product config start  京P8WB50 by Lee-->
    <add key="InsuranceApiUrl" value="http://m.91bihu.com/api/CommonInsuranceBusiness/"/>
    <add key="ApiKey" value="socsecxyecsd"/>
    <add key="ApiAgent" value="3712"/>
    <!--本平台标识-->

    <!--优惠费率，百分数，value次序分别对应CompanyId，0：平安 1：太平洋 2：人保-->
    <add key="BizCouponRate" value="8,9,10"/>
    <add key="ForceCouponRate" value="5,6,7"/>
    <add key="TaxCouponRate" value="4,5,6"/>
    <!--Product config end-->

    <!--Product config version2 start by Lee 20160321-->
    <!--91bihu配置 正式http://i.91bihu.com/api/CarInsurance/-->
    <add key="Api_Url" value="http://i.91bihu.com/api/CarInsurance/"/>
    <!--密钥-->
    <add key="Api_key" value="socsecxyecsd"/>
    <!--本平台标识-->
    <add key="Api_Agent" value="3712"/>
    <!--Product config version2 end-->

    <!--Order Start-->

    <add key="alipayNotifyUrl" value="http://www.baidu.com/Alipay/notify_url.aspx"/>
    <add key="alipayReturnUrl" value="http://www.baidu.com/Alipay/return_url.aspx"/>
    <add key="alipayShowUrl" value="http://www.baidu.com/Order/List"/>
    <add key="OrderListUrl" value="http://www.baidu.com/Order/List"/>
    <add key="AlipayPayTestSwitch" value="1"/>
    <add key ="DeliverArriveAddDay" value="5"/>

    <!--Order END-->
    
    <!--网站根目录地址，格式：http://www.cloudsbao.com -->
    <add key="AppRootUrl" value="http://localhost"/>
    <!--<add key="AppRootUrl" value=""/>-->
    <!--网站根目录，格式：/yidao.app，根目录可以为空-->
    <add key="AppRootPath" value="/yidao.hongli.me"/>
    <!--<add key="AppRootPath" value=""/>-->
    
    
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

  <!--优惠费率，百分数，跟channel有关，目前channel=1;0：平安 1：太平洋 2：人保  注意config的section配置-->
  <CouponRateConfig>
    <item Key="1_0_CouponRate" Value="0,0,22" External="" Description="channel1_平安_交强险-车船税-商业险费率"/>
    <item Key="1_1_CouponRate" Value="0,0,22" External="" Description="channel1_太平洋_交强险-车船税-商业险费率"/>
    <item Key="1_2_CouponRate" Value="0,0,22" External="" Description="channel1_人保_交强险-车船税-商业险费率"/>
    
    <item Key="2_0_CouponRate" Value="0,0,22" External="" Description="channel1_平安_交强险-车船税-商业险费率"/>
    <item Key="2_1_CouponRate" Value="0,0,22" External="" Description="channel1_太平洋_交强险-车船税-商业险费率"/>
    <item Key="2_2_CouponRate" Value="0,0,22" External="" Description="channel1_人保_交强险-车船税-商业险费率"/>
    
    <item Key="5_0_CouponRate" Value="0,0,20" External="" Description="channel1_平安_交强险-车船税-商业险费率"/>
    <item Key="5_1_CouponRate" Value="0,0,20" External="" Description="channel1_太平洋_交强险-车船税-商业险费率"/>
    <item Key="5_2_CouponRate" Value="0,0,20" External="" Description="channel1_人保_交强险-车船税-商业险费率"/>
    
    <item Key="9_0_CouponRate" Value="3,0,24" External="" Description="channel1_平安_交强险-车船税-商业险费率"/>
    <item Key="9_1_CouponRate" Value="3,0,24" External="" Description="channel1_太平洋_交强险-车船税-商业险费率"/>
    <item Key="9_2_CouponRate" Value="3,0,24" External="" Description="channel1_人保_交强险-车船税-商业险费率"/>
  </CouponRateConfig>
  <PrepaidAmountConfig>
    <item Key="1_PrepaidAmount" Value="0.8" External="" Description="channel1_预付比例"/>
  </PrepaidAmountConfig>

  <system.web>
    <!-- session 过期时间配置 start by Lee-->
    <sessionState mode="InProc" timeout="30"/>
    <!-- session 过期时间配置 end-->
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"  maxRequestLength="1048576" executionTimeout="3600" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>