
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View</title>
</head>
<body>
    <div>
        <p>
            <a href="@Url.Action("List","Deliver",new { UserId = 4,mobile="13555221234",channel="1",productId="12" })">content</a>
        </p>
        <p>
            <a href="@Url.Action("TypeEdit","Deliver",new { UserId = 4,mobile="13555221234",channel="1",productId="12" })">content</a>
        </p>
        <p>
            <a href="@Url.Action("Edit","Invoice",new { UserId = 4,mobile="13555221234",channel="1",productId="12" })">content</a>
        </p>
        <p>
            <a href="@Url.Action("Edit","PolicyHolder",new { UserId = 4,mobile="13555221234",channel="1",productId="12" })">content</a>
        </p>

    </div>
</body>
</html>
